<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Result</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/result.css}" />

</head>
<script>
	function goBack() {
		window.history.back();
	}
</script>

<body>
	<div align="center">
		<h2>Result</h2>
		<strong>ID:</strong> <span th:text="${employee.id}"></span><br /> <strong>Name:</strong><span
			th:text="${employee.name}"></span> <br /> <strong>Department:</strong>
		<span th:text="${employee.dept}"></span><br /> <strong>Age:</strong>
		<span th:text="${employee.age}"></span> <br /> <strong>Joining
			Date:</strong> <span th:text="${employee.joiningDate}"></span> <br /> <strong>Retiring
			Date:</strong> <span th:text="${employee.retiringDate}"></span> <br /> <strong>Gender:</strong>
		<span th:text="${employee.gender}"></span><br /> <a
			th:href="@{create}" class="btn btn-success"> <i
			class="fa fa-arrow-circle-o-left"></i>&nbsp;Add new employee
		</a>
		<button class="btn btn-success" onclick="goBack()">Go Back</button>
	</div>
</body>
</html>